@()(implicit flash: Flash)
@main("Task list", "tasks") {

    <a href="@routes.Tasks.addDeadline" class="ink-button blue">Add deadline task</a> - best if you want to xxx<br />
    <a href="@routes.Tasks.addFrequent" class="ink-button blue">Add frequent task</a> - best if you want to xxx<br />
    <a href="@routes.Tasks.addLongterm" class="ink-button blue">Add longterm task</a> - best if you want to xxx<br />
    <a href="@routes.Tasks.addCurrent" class="ink-button blue">Add current task</a> - best if you want to xxx

}
