@()(implicit flash: Flash)
@main("Task list", "tasks") {

    <a href="@routes.Tasks.addDeadline" class="ink-button blue">Add deadline task</a> - best if you have a deadline and you have to end that before some timex.<br />
    <a href="@routes.Tasks.addFrequent" class="ink-button blue">Add frequent task</a> - best if you want to do your habits, e.g. swimming, gym.<br />
    <a href="@routes.Tasks.addLongterm" class="ink-button blue">Add longterm task</a> - best if you want to learn a new thing, or change something, e.g. learn other language.<br />
    <a href="@routes.Tasks.addCurrent" class="ink-button blue">Add current task</a> - best if you have something to do now - e.g. buy eggs

}
