@(id: Option[Long], form: Form[models.tasks.DeadlineTask])(implicit flash: Flash)

@main("Deadline task", "tasks") {

    @helper.form(action = id.map(routes.Tasks.edit(_)).getOrElse(routes.Tasks.addDeadline()), 'class -> "ink-form") {
        @helper.inputText(form("name"))
        @helper.select(form("priority"), models.tasks.Priority.possibleOptions)
        @helper.inputDate(form("deadline"))
        @helper.checkbox(form("continuous"))
        @helper.inputText(form("length"), 'type -> "number", 'min -> 0)

        <button class="ink-button green" type="submit">Add deadline task</button>
    }

}
